<div *ngIf="group" class="jira-detail-wrapper">
  <div class="group-header">
    <div>
      <h2>{{ group.name }}</h2>
      <p class="group-description">{{ group.description }}</p>
    </div>
  </div>

  <div class="dual-panel">
    <div class="panel">
      <div class="panel-header">Fetch Jiras</div>

      <div class="search-controls">
        <p-dropdown
          [options]="[{label: 'Jira ID', value: 'jira_id'}, {label: 'JQL', value: 'jql'}]"
          [(ngModel)]="searchType"
          placeholder="Select type"
        ></p-dropdown>

        <input pInputText [(ngModel)]="queryInput" placeholder="Enter ID or JQL" />

        <button pButton label="Fetch" icon="pi pi-search" (click)="fetchJira()"></button>
      </div>

      <p-table
        *ngIf="fetchedJiras.length > 0"
        [value]="fetchedJiras"
        [(selection)]="selectedFetchedJiras"
        dataKey="jira_id"
        [paginator]="true"
        [rows]="5"
        [responsiveLayout]="'scroll'"
        class="styled-table"
      >
        <ng-template pTemplate="caption">
          <div class="table-caption flex justify-between items-center">
            <span>Fetched Jiras</span>
            <button pButton label="Add Selected" icon="pi pi-plus" class="p-button-sm p-button-success" (click)="addSelectedJiras()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Jira ID</th>
            <th>Summary</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-jira>
          <tr [pSelectableRow]="jira">
            <td>
              <p-tableCheckbox [value]="jira"></p-tableCheckbox>
            </td>
            <td>{{ jira.jira_id }}</td>
            <td>{{ jira.summary }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="panel">
      <div class="panel-header">Group Jiras</div>

      <p-table
        [value]="group.jiras"
        [paginator]="true"
        [rows]="5"
        [responsiveLayout]="'scroll'"
        class="styled-table"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Jira ID</th>
            <th>Summary</th>
            <th style="text-align: center;">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-jira>
          <tr>
            <td>{{ jira.jira_id }}</td>
            <td>{{ jira.summary }}</td>
            <td style="text-align: center;">
              <button pButton icon="pi pi-trash" class="p-button-sm p-button-danger" (click)="removeJira(jira.jira_id)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <div class="panel-footer" *ngIf="hasUnsavedChanges()">
        <button
          pButton
          label="Save Group Jiras"
          icon="pi pi-save"
          class="p-button-success"
          (click)="saveGroupJiras()">
        </button>
      </div>
    </div>
  </div>
</div>
