<!-- text-format.component.html -->
<div class = "page">
  <div class = "container">
    <div>
      <label for="text">Text:</label>
      <textarea id="text" [(ngModel)]="text"></textarea>
    </div>
    <div>
      <label for="name">File Name:</label>
      <div style = "color:red">Note: To check it later, please provide a unique name like eventId or ...</div>
      <input type="text" id="name" [(ngModel)]="fileName">
    </div>
    <button (click)="submitText()">Format</button>

  </div>

</div>

