body {
  height: 100%;
  margin: 0;
}

.page{

  margin: 0 auto;
  background-color: var(--gray-50);
  display: flex;
  justify-content: center;
}

.h2class{
  margin: 10px auto;
  font-family: Arial, sans-serif;
  font-size: 26px;
}

.h3class{
  margin: 10px auto;
  font-family: Arial, sans-serif;
  font-size: 20px;
}


.header{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 27px;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
}

.main{
  display: flex;
  justify-content: space-between;
  height: 100%;

}

.left_container{
  height: 90vh;
  min-height:90%;
  /*width:20%;*/
  width:350px;
  /*margin: 20px 0 0 0 ;*/
  padding: 20px;
  background-clip: content-box, padding-box;
}

.right_container{
  height: 90vh;
  min-height:90%;
  width:200px;
  padding: 20px;
}

.container {
  padding: 0 0 0 20px ;
  margin: 20px auto;
  width:800px;
  background-color: white;

}


h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

textarea {
  height: 100px;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
  transition: background-color 0.3s ease;
}

.result {
  width: 95%;
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.result h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.result p {
  font-size: 18px;
  color: #007BFF;
}


.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
