<!-- text-format.component.html -->
<div class = "page">
  <div class = "container">
    <div>
      <textarea id="text" [(ngModel)]="text"  placeholder="say something ..." ></textarea>
    </div>
    <div class = "right_container">
      <p-dropdown class="custom-dd" [options]="llmNames" [(ngModel)]="llmName"  ></p-dropdown>
    </div>
    <div>
        <button (click)="submitText()">Submit</button>
    </div>
  </div>
  <div class="completion" *ngIf="completion">
    <p>{{ completion }}</p>
  </div>

</div>


<div *ngIf="isLoading" class="loading-indicator">
  Loading...
</div>

