/* chat.component.css */

/* Style the chat header */
.chat-header {
  color: black; /* Set text color */
  background-color: #ececf1;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-bottom: 1px solid #ccc; /* Add a border at the bottom */
  font-size: 35px; /* Adjust the font size as needed */
}



/* Container for the chat interface */
.chat-container {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

/* CSS Styles for user and bot bubbles */
.user-bubble {
  --tw-border-opacity: 1;
  background-color: white; /* User message background color */
  border-color: rgba(255,255,255,var(--tw-border-opacity));
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px 0;
  max-width: 85%;

  align-self: flex-end;


}
.chat-message{
  display: flex;

}


.bot-bubble {
  --tw-border-opacity: 1;
  background-color: #ececf1; /* Chatbot message background color */
  border-collapse: rgba(255,255,255,var(--tw-border-opacity));
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px 0;
  max-width: 85%;
  align-self: flex-start;

}


/* Input field for user messages */
.user-input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
}

.indented-div {
  margin-right: 10px; /* Adjust this value as needed */
}

/* Send button */
.send-button {
  width: 10%;
  background-color: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #303f9f;
}

/* Scrollable chat area */
.chat-area {
  max-height: 500px;
  overflow-y: auto;


}
/* text-suggestion.component.css */
.suggestion-container {
  position: relative;

}

.bot-actions {
  float: right; /* Align bot actions to the right */
 /* margin-left: 10px;*/ /* Add some spacing between the chat message and bot actions */
  width: 50px;
 /* padding: 10px 15px;*/
  margin: 20px 20px;
}


.bot-actions i {
  color: #000;
  transition: color 0.3s;
  cursor: pointer;
}

.bot-actions i:hover {
  color: darkorange;

}

.suggestion-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 82%;
  position: absolute;
  /*top: -195px; !* Adjust this value to control the distance from the input *!*/
  background-color: #fff; /* Customize this background color */
  /*border: 1px solid #ccc;*/
  border-radius: 5px; /* Add border radius for styling */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add box shadow for a card-like effect */
}

.selected {
  background-color: #f0f0f0; /* Highlight color */
}

.suggestion-container li {
  padding: 10px;
  cursor: pointer;
}

.suggestion-container li:hover {
  background-color: #f2f2f2; /* Hover effect */
}


.category-button {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s, border-color 0.3s;
}

.category-button.selected {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.category-button:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}


