/* chat.component.css */

/* Container for the chat interface */
.chat-container {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* CSS Styles for user and bot bubbles */
.user-bubble {
  --tw-border-opacity: 1;
  background-color: white; /* User message background color */
  border-color: rgba(255,255,255,var(--tw-border-opacity));
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px 0;
  max-width: 90%;
  align-self: flex-end;
}
.chat-message{
  display: flex;

}


.bot-bubble {
  --tw-border-opacity: 1;
  background-color: #ececf1; /* Chatbot message background color */
  border-collapse: rgba(255,255,255,var(--tw-border-opacity));
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px 0;
  max-width: 90%;
  align-self: flex-start;
}


/* Input field for user messages */
.user-input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
}

.indented-div {
  margin-right: 10px; /* Adjust this value as needed */
}

/* Send button */
.send-button {
  width: 10%;
  background-color: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #303f9f;
}

/* Scrollable chat area */
.chat-area {
  /*max-height: 300px;*/
  overflow-y: auto;
}

/* text-suggestion.component.css */
.suggestion-container {
  position: relative;
}


.suggestion-container ul {
  /*width: 93%;*/
  list-style: none;
  padding: 0;
  margin: 0;
  width: 82%;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;


}



.suggestion-container li {
  padding: 10px;
  cursor: pointer;

}

.suggestion-container li:hover {
  background-color: #f2f2f2;
}
