/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  /*padding: 20px;*/
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-header{
  color: black; /* Set text color */
  background-color: #ececf1;
  text-align: center;
  padding: 10px;
  /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); !* Add a subtle shadow *!*/
  border-bottom: 1px solid #ccc; /* Add a border at the bottom */
  font-size: 35px; /* Adjust the font size as needed */
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Space between the columns */
  margin-bottom: 20px;
}

.left-container, .right-container {
  flex: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;

}



.p-field {
  margin-bottom: 20px;
}

.p-field label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.p-inputtextarea, .p-inputtext {
  width: 100%;
  /*padding: 10px;*/
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.p-inputtextarea:focus, .p-inputtext:focus {
  border-color: #007ad9;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 122, 217, 0.5);
}

.snippet-card p-card {
  /*margin-bottom: 20px;*/
  /*background-color: #fafafa;*/
  /*border: 1px solid #ddd;*/
  /*border-radius: 4px;*/
  padding: 10px;
}

.p-button {
  margin-top: 10px;
}

.p-button-primary {
  background-color: #007ad9;
  border-color: #007ad9;
}

.p-button-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.p-button-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.p-button-primary:hover,
.p-button-secondary:hover,
.p-button-danger:hover {
  opacity: 0.9;
}

.container-middle{
  padding: 10px;
}

::ng-deep markdown pre code {
  display: block;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 6px;
  font-family: Consolas, monospace;
  font-size: 14px;
  overflow-x: auto;
  line-height: 1.6;
  border: 1px solid #ddd;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

::ng-deep markdown ul li code{
  font-weight: 600;
  font-family: Consolas, monospace;
  color: #0d0d0d
}

::ng-deep markdown p code{
  font-weight: 600;
  font-family: Consolas, monospace;
  color: #0d0d0d
}

.result{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
}

.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
