<div class="faq-system-container">

  <div class="clearfix">
    <form (submit)="search()">
      <div class="suggestion-container">
        <input type= "text" name="query" class="user-input" [(ngModel)]="query" placeholder="Search FAQs"   autocomplete="off" />
      </div>
      <div class = "search-area">
        <button class = "send-button" type="submit">Search</button>
      </div>
    </form>

  </div>
  <div>
    <ul class="search-results">
      <li *ngFor="let result of searchResults">

        <div>{{result['text']}} </div>

      </li>
    </ul>
  </div>
  <div>


  </div>
</div>
