<div class = "page">

  <div class = "header_wapper" >
    <div class = "header_title"><img style = "height:50px; width:100px" src = "assets/email_searcher.png" alt="JIRA Searcher"/></div>
    <div>  <p-dropdown class="custom-dd" [options]="queryTypes" [(ngModel)]="queryType"  ></p-dropdown></div>
    <div class="search-form">
      <div class="search-form-dev">
        <form (submit)="search()">
          <div class="suggestion-container">
            <input type= "text" name="query" class="p-inputtext" [(ngModel)]="query" placeholder="Search Jira"  >
          </div>
          <div class = "search-area" style="justify-content: space-between">
            <p-button type="submit"  label="Search"></p-button>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class = "main">
    <div class="left_container" style = "display: None">

    </div>
    <div class="container">

      <div *ngIf="similarJIRAs && isQueried" >
        <ul class="search-results" >
          <li *ngFor="let result of similarJIRAs"  >
            <div><strong (click)="navigateToJIRAWeb(result)" class = "email-subject">{{result['summary']}}</strong></div>
            <p class="addtional-email-info"><strong>Match Score</strong>: {{result['score']}}, <strong>Created Time</strong>: {{result['created_time']}}</p>
            <p class="email-content"> {{truncateQuery(result['description'], 420) }}</p>
          </li>
        </ul>
        <div *ngIf="similarJIRAs.length === 0 && isQueried ">
          <p>No results found</p>
        </div>
      </div>

    </div>

  </div>

</div>


<div *ngIf="isLoading" class="loading-indicator">
  Loading...
</div>
