body {
  height: 100%;
  margin: 0;
}

.page{
  max-width: 90%;
  margin: 0 auto;

  height: 100%;

}

.examples{
  background-color: var(--gray-50);
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.header{
/*  margin: 10px 10px;*/
  padding: 10px;
  font-size: 27px;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  background-color: var(--gray-50);
/*  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.main{
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.left_container{
  height: 90vh;
  min-height:90%;
  width:20%;
  /*margin: 20px 0 0 0 ;*/
  padding: 20px;
/*  border: 1px solid #ddd;*/
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--gray-50);
}

.right_container{
  height: 90vh;
  min-height:90%;
  width:15%;
  /*margin: 20px 0 0 0 ;*/
  padding: 20px;
/*  border: 1px solid #ddd;*/
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}




.container {
  margin: 0 auto;
  padding: 20px;
/*  border: 1px solid #ccc;*/
  width: 70%;

}

h2 {
  margin-top: 20px;
}

input {
  display: block;
  width: 98%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}
