body {
  height: 100%;
  margin: 0;
}

.page{
  max-width: 95%;
  margin: 0 auto;

}

.header{
  padding: 10px;
  font-size: 27px;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
}

.main{
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.left_container{
  height: 90vh;
  min-height:90%;
  width:20%;
  /*margin: 20px 0 0 0 ;*/
  padding: 20px;
  /*  border: 1px solid #ddd;*/
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--gray-50);
}

.right_container{
  height: 90vh;
  min-height:90%;
  width:15%;
  /*margin: 20px 0 0 0 ;*/
  padding: 20px;
  /*  border: 1px solid #ddd;*/
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.prediction-container {
  margin: 0 auto;
  padding: 20px;
  width:65%;
  font-family: Arial, sans-serif;
}

.input-section {
  margin-bottom: 20px;
}

.input-section label {
  display: block;
  margin-bottom: 5px;
}

.input-section input {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
  transition: background-color 0.3s ease;
}

.result-section {
  /*border-top: 1px solid #ccc;*/
  padding-top: 20px;
}

.result-section h2 {
  margin-bottom: 10px;
}

.result-section p {
  font-weight: bold;
}
