<div class = "page">

    <div class = "header_wapper" >
      <div class = "header_title"><img style = "height:50px" src = "assets/email_searcher.png" alt="Email Searcher"/></div>
      <div>  <p-dropdown class="custom-dd" [options]="queryTypes" [(ngModel)]="queryType"  ></p-dropdown></div>
      <div class="search-form">
        <div class="search-form-dev">
          <form (submit)="search()">
            <div class="suggestion-container">
              <input type= "text" name="query" class="user-input" [(ngModel)]="query" placeholder="Paste or Type a user query"   autocomplete="off" />
           <!--   <input pInputText type="text"  class="user-input"  placeholder="Paste or Type a user query" [(ngModel)]="query"  />-->
            </div>
            <div class = "search-area">
              <!--<button class = "send-button" type="submit">Search</button>-->
             <p-button type="submit"  label="Search"></p-button>
            </div>
          </form>
        </div>
        <div>
          <div class="toggle-arrows" (click)="toggleAdditionalOptions()">
            <i class="fa fa-angle-down" *ngIf="!additionalOptionsVisible"></i>
            <i class="fa fa-angle-up" *ngIf="additionalOptionsVisible"></i>
          </div>
          <!-- 其他按钮 -->
          <div class="additional-options" *ngIf="additionalOptionsVisible">
            <div class="button-list">
              <button *ngFor="let componentName of ComponentNames; let i = index"
                      (click)="handleComponentButtonClick(componentName, i)"
                      [class.highlight]="isComponnentHighlighted(i)"
                      class="custom-button">{{ componentName }}</button>

            </div>
            <div>
              <div class="button-list">
                <button *ngFor="let keyword of keyWords; let i = index"
                        (click)="handleKeyWordClick(keyword, i)"
                        [class.highlight]="isKeyWordHighlighted(i)"
                        class="custom-button">{{ keyword }}</button>

              </div>

<!--              <p-multiSelect [options]="keyWords" [(ngModel)]="selectedKeyWords"   display="chip" [showClear]="true"-->
<!--                             [style]="{ 'width': '415px'}"-->
<!--                             optionLabel="name" placeholder="Select key words" (onChange)="onKeyWordsChange()"></p-multiSelect>-->
            </div>

          </div>
        </div>
      </div>
    </div>
  <div class = "main">
    <div class="left_container" style = "display: None">

    </div>
    <div class="container">


      <div *ngIf="searchResults" >
        <ul class="search-results" >
          <li *ngFor="let result of searchResults"  >
            <div><strong (click)="openEmailPopup(result)" class = "email-subject">{{result['email_subject']}}</strong></div>
            <p class="addtional-email-info"><strong>Match Score</strong>: {{result['score']}}, <strong>Received Time</strong>: {{result['received_time']}}, <strong>Send By</strong>: {{result['user']}} </p>
            <p class="email-content"> {{result['email_content']}}</p>
          </li>
        </ul>
      </div>

      <div *ngIf="!isQueried" >
        <div class = "announcement">
          <p>Emails from {{emailTimeRange['min_time']}} to {{emailTimeRange['max_time']}} (HKT) </p></div>

      </div>


    </div>
    <div class = "right_container">
      <h4>Recent User Queries</h4>
      <ul class="recent-queries">
        <li *ngFor="let query of recentQueries" (click)="searchByQuery(query)">
          {{ truncateQuery(query, 10) }}
        </li>
      </ul>
    </div>
  </div>

</div>


<div *ngIf="isLoading" class="loading-indicator">
  Loading...
</div>
