<div class = "page">

  <div class = "header_wapper" >
    <div class = "header_title"><img style = "height:50px; width:100px" src = "assets/email_searcher.png" alt="Email Searcher"/></div>
    <div>  <p-dropdown class="custom-dd" [options]="queryTypes" [(ngModel)]="queryType"  ></p-dropdown></div>
    <div class="search-form">
      <div class="search-form-dev">
        <form (submit)="search()">
          <div class="suggestion-container">
            <input type= "text" name="query" class="p-inputtext" [(ngModel)]="query" placeholder="Paste or Type a user query"  >
            <!--   <input pInputText type="text"  class="user-input"  placeholder="Paste or Type a user query" [(ngModel)]="query"  />-->
          </div>
          <div class = "search-area" style="justify-content: space-between">
            <!--<button class = "send-button" type="submit">Search</button>-->
            <p-button type="submit"  label="Search"></p-button>

          </div>

        </form>
      </div>
      <div>
        <div class="toggle-arrows" (click)="toggleAdditionalOptions()">
          <i class="fa fa-angle-down" *ngIf="!additionalOptionsVisible"></i>
          <i class="fa fa-angle-up" *ngIf="additionalOptionsVisible"></i>
        </div>
        <!-- 其他按钮 -->
        <div class="additional-options" *ngIf="additionalOptionsVisible">
          <div class="button-list">
            <button *ngFor="let componentName of ComponentNames; let i = index"
                    (click)="handleComponentButtonClick(componentName, i)"
                    [class.highlight]="isComponnentHighlighted(componentName)"
                    class="custom-button">{{ componentName }}</button>

          </div>
          <div>
            <div class="button-list">
              <button *ngFor="let keyword of keyWords; let i = index"
                      (click)="handleKeyWordClick(keyword, i)"
                      [class.highlight]="isKeyWordHighlighted(keyword)"
                      class="custom-button">{{ keyword }}</button>

            </div>
          </div>

        </div>
      </div>
    </div>
    <div style="margin-left: 150px">

      <a [routerLink] ="['/user-email-dashboard']" target="_blank"> User Email Dashboard</a>
    </div>
  </div>
  <div class = "main">
    <div class="left_container" style = "display: None">

    </div>
    <div class="container">
      <div *ngIf="aiDraftEmail && enableAi" >
        <h4 *ngIf = "aiDraftEmail['has_generated_email'] =='true'">AI-Generated Draft Email </h4>
        <div style = "border: 2px solid #f5f5f5; border-radius: 10px; background-color: #f5f5f5; margin: 0">
          <pre style="font-family: Arial">{{aiDraftEmail['message']}}</pre>

        </div>
      </div>

      <div *ngIf="highlySimilarEmails   && isQueried" >
        <div style = "font-size: 21px; font-weight: 400; line-height: 28px; display: flex; justify-content: center">High Similar Emails</div>

        <div *ngIf="highlySimilarEmails.length === 0 && isQueried " style = "color: red">
          <ul class="search-results" > <li> No results found</li></ul>
        </div>
        <ul class="search-results" >
          <li *ngFor="let result of highlySimilarEmails"  >
            <div><strong (click)="openEmailPopup(result)" class = "email-subject">{{result['email_subject']}}</strong></div>
            <p class="addtional-email-info"><strong>Match Score</strong>: {{result['score']}}, <strong>Received Time</strong>: {{result['received_time']}}, <strong>Send By</strong>: {{result['user']}} </p>
            <p class="email-content"> {{truncateQuery(result['email_content'], 420) }}</p>
          </li>
        </ul>

      </div>
      <div *ngIf="lowSimilarEmails && isQueried" >
        <div style = "font-size: 21px; font-weight: 400; line-height: 28px; display: flex; justify-content: center">Low Similar Emails</div>
        <ul class="search-results" >
          <li *ngFor="let result of lowSimilarEmails"  >
            <div><strong (click)="openEmailPopup(result)" class = "email-subject">{{result['email_subject']}}</strong></div>
            <p class="addtional-email-info"><strong>Match Score</strong>: {{result['score']}}, <strong>Received Time</strong>: {{result['received_time']}}, <strong>Send By</strong>: {{result['user']}} </p>
            <p class="email-content"> {{truncateQuery(result['email_content'], 420) }}</p>
          </li>
        </ul>
        <div *ngIf="lowSimilarEmails.length === 0 && isQueried ">
          <p>No results found</p>
        </div>
      </div>

      <div *ngIf="!isQueried" >
        <div class = "announcement">
          <p>Emails from {{emailTimeRange['min_time']}} to {{emailTimeRange['max_time']}} (HKT) </p></div>

      </div>


    </div>
    <div class = "right_container">
      <h4>Recent User Queries</h4>
      <ul class="recent-queries">
        <li *ngFor="let query of recentQueries" (click)="searchByQuery(query)">
          {{ truncateQuery(query, 120) }}
        </li>
      </ul>

    </div>
  </div>

</div>


<div *ngIf="isLoading" class="loading-indicator">
  Loading...
</div>
