.container {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

h1, h2 {
  margin-bottom: 10px;
}


.input-container {
  margin-bottom: 20px;
}

textarea {
  width: 97%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}


button:hover {
  background-color: #0056b3;
}

.results {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

strong {
  color: #007bff;
}
