<div class="container">
        <div class="card-header">
          <h1 class="text-center">Named Entity Recognition</h1>
        </div>

      <h3>We trained a variety of neural network models for NER with conll2003 dataset. the model using this page is always best one </h3>

  <h2>Examples</h2>
    <div class="mt-4">
      <div class="example-text">Enter: Hi my name is Harry Liu and I live in Shanghai City of China</div>
      <ul class="list-group">
        <div class="text-center">Results:</div>
        <li class="list-group-item">
          PER(Person): Harry liu
        </li>
        <li class="list-group-item">
          LOC (Location): Shanghai City
        </li>
        <li class="list-group-item">
          LOC (Location): China
        </li>
      </ul>
    </div>

      <h2>let's test it </h2>

       <div class="input-container">
          <textarea  [(ngModel)]="text" placeholder="Enter text for NER"></textarea>
          <button  (click)="processNER()">Process NER</button>

        </div>

      <div *ngIf="results.length > 0">
        <h2 class="text-center">Results:</h2>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let result of results">
            <strong>{{ result.label }}:</strong> {{ result.text }}
          </li>
        </ul>
      </div>

</div>
